body{
    
}

img{
    
}

h1{
    text-align: center;
}
h2{
    color: rgb(70, 202, 70);
    border-bottom: 1px solid;
    border-color: rgb(189, 189, 189);
}
h3{
    color: rgb(249, 197, 66);
}

ul{
    list-style: none;
}

.greenText{
    color: rgb(28, 126, 28);
}
.yellText{
    color: rgb(201, 148, 15);
}

.container{
    display: flex;
    width: 900px;
    margin: auto auto;
}
.left{
    width: 150px;
}
.right{
    width: 750px;
}

.div{
    text-align: justify;
    background: linear-gradient(to top, #eeeded, #ffffff, #eeeded);
    border: 1px solid;
    padding: 10px;
    border-color:rgb(189, 189, 189);
    margin: 2%;
    padding-left: 20px; 
}

.home{
    padding: 10px;
    margin: 5px;
    background: linear-gradient(to top, #f79e80, #ffffff, #f0f0ef);
    font-weight: bold;
    border: 1px solid;

}

.home:hover{
    background-color: #f79e80;
}

a{
    text-decoration: none;
    color: rgb(48, 48, 48);
    text-align: center;
    display: block;
}

.normal{
    padding: 10px;
    margin: 5px;
    background: linear-gradient(to top, #a6f780, #ffffff, #f0f0ef);
    font-weight: bold;
    border: 1px solid;
}

.normal:hover{
    background-color:#c0f53b ;
}

.footer{
    padding-left: 35%;
    font-style: italic;
    font-weight: bold;
    color: rgb(212, 211, 211);
    font-size: small;
}